<div class="row">
    <div class="col-md-12">
        <header>
            <h3>Process Vehicle</h3>
        </header>
        <form>
            <div class="form-group">
                <label for="VehicleId">Vehicle Id</label>
                <input type="text" class="form-control" id="VehicleId" placeholder="Enter id">
            </div>
            <div class="form-group">
                <label for="TypeVehicle">Type</label>
                <input type="text" class="form-control" id="TypeVehicle" placeholder="Enter type">
            </div>
            <div class="form-group">
                <label for="ManufacturerNameShortVehicle">Manufacturer name short</label>
                <input type="text" class="form-control" id="ManufacturerNameShortVehicle" placeholder="Enter manufacturer">
            </div>
            <div class="form-group">
                <label for="PriceVehicle">Price</label>
                <input type="number" class="form-control" id="PriceVehicle" placeholder="Enter price">
            </div>
            <input class="btn btn-primary" type="button" name="createVehicle" id="createVehicle" value="Submit" />
        </form>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/Scripts/app/Vehicles.js"></script>
}
